@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --poppins-font-family: "Poppins", sans-serif;
  --mulish-font-family: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

/* For Mobile Screen */

/* Header Start */
.header {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: auto;
  padding: 20px;
  background-color: #F8D57E;
  font-family: var(--poppins-font-family);
}

.header_logo_image {
  min-width: 32px;
  height: 32px;
  background: transparent;
}

.header_title {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  height: 60px;
  align-self: stretch;
}

#header_contact,
#header_highlightedcta_button1 {
  display: none;
}

.header_highlightedcta #header_highlightedcta_button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 60px;
  border-radius: 20px;
  padding: 16px 20px;
  gap: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #009379;
  border: none;
  font-family: var(--poppins-font-family);
}

/* Header end */

/* HeroSection start */
  .heroSection {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    align-self: stretch;
    padding: 60px 30px 0;
    gap: 60px;
    background-color: #F8D57E;
    /* border:2px solid black; */
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    align-self: stretch;
    position: relative;
    text-align: center;
    /* border:2px solid black; */
  }

  .heroSection_header {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 40px;
    /* border:2px solid black; */
  }

  .heroSection_header_subHeader {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    gap: 20px;
    text-align: center;
    /* border:2px solid black; */
  }

  #heroSection_header_subHeader_title {
    height: auto;
    position: relative;
    text-align: center;
    align-self: stretch;
    color: #2D2D2D;
    font-family: var(--poppins-font-family);
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -2.5%;
  }

  #heroSection_header_subHeader_description {
    height: auto;
    position: relative;
    text-align: center;
    align-self: stretch;
    color: #2D2D2D;
    font-family: var(--mulish-font-family);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
  }

  #heroSection_header_subHeader_description a {
    text-decoration: none;
    font-family: var(--mulish-font-family);
    color: #3366ff;
  }

  .CTA_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* width: fit-content; */
    height: auto;
    gap: 18px;

    /* border:2px solid black; */
  }

  .CTA_buttons #CTA_buttons_button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    height: 60px;
    border-radius: 20px;
    padding: 16px 50px;
    gap: 8px;
    color: white;
    font-family: var(--poppins-font-family);
    font-size: 16px;
    font-weight: 600;
    background-color: #009379;
    border: none;
  }

  .CTA_buttons #CTA_buttons_button2 {
    width: fit-content;
    height: 60px;
    border-radius: 20px;
    padding: 16px 50px;
    gap: 8px;
    color: #009379;
    font-size: 16px;
    font-weight: 600;
    background-color: #E5F4F2;
    border: none;
    border: 1px solid #009379;
    position: relative;
  }

  .MockUp {
    height: 320px;
    position: relative;
    /* width: 299px; */
    /* border:2px solid black; */
  }

  .MockUp img {
    width: 100%;
    height: 100%;
  }

  /* HeroSection end */

  /* Features Setion start */
  .features {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: auto;
    gap: 50px;
    padding: 60px 30px;
    background-color: #F8F9FF;
    /* border:2px solid black; */
  }

  .visuals {
    height: 267px;
  }

  .featues_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: auto;
    gap: 50px;
    /* border:2px solid black; */
  }

  .features_SubHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;

  }

  #features_SubHeader_main {
    position: relative;
    align-self: stretch;
    color: #2D2D2D;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    letter-spacing: -2%;
  }

  #features_SubHeader_para {
    position: relative;
    align-self: stretch;
    color: #2D2D2D;
    font-size: 21px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
  }

  .features_cards_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: auto;
    gap: 20px;
    border-radius: 20px;
  }

  .rows {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    position: relative;
}
  

  .card_features {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    border: 1px solid #E5F4F2;
    align-items: center;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    background-color: white;
  }

.card_features_img img {
    height: auto;
  }

  .card_features .text {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    font-family: var(--mulish-font-family);
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0%;
    /* overflow-x: hidden; */
    /* flex-wrap: nowrap; */
  }

  /* Features Section end */

  /* Projects Section start */
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 30px;
    background-color: #F8F9FF;
    /* border: 2px solid black; */
    padding: 60px 30px;
    position: relative;
    align-self: stretch;

  }

  .projects_headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    height: auto;
    gap: 20px;
    /* border: 2px solid black; */
  }

  /* #p1::before{
  display: none;
} */


  #projects_headline_main {
    display: none;
  }

  #projects_headline_main2 {
    display: block;
    height: auto;
    color: #000000;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    letter-spacing: -2%;
    text-align: center;
    position: relative;
    align-self: stretch;
  }

  #projects_headline_para {
    height: auto;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
    position: relative;
    align-self: stretch;
    text-align: center;
  }

  .projects_cards_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    gap: 30px;
    height: auto;
    /* border: 2px solid black; */
  }

  .projects_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    position: relative;
    /* border: 2px solid black; */
  }

  .projects_cards_p_Image {
    align-self: stretch;
    position: relative;
    background-color: transparent;
    height: 278px;
  }

  .projects_cards_p_Image img {
    width: 100%;
    height: 100%;
  }

  .projects_description {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 30px;
    gap: 12px;
    background-color: white;
    position: relative;
    align-self: stretch;
    /* border: 2px solid black; */
  }

  #project_title {
    position: relative;
    align-self: stretch;
    height: auto;
    color: #2D2D2D;
    font-size: 28px;
    font-weight: 600;
    font-family: var(--poppins-font-family);
    letter-spacing: -1%;
    /* border: 2px solid black; */
  }

  #project_short_descrption {
    position: relative;
    align-self: stretch;
    height: auto;
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
    /* border: 2px solid black; */
  }

  #project_category {
    position: relative;
    align-self: stretch;
    height: auto;
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
    /* border: 2px solid black; */
  }

  /* Projects Section end */

  /* Testinomals Section start */
  .testimonals {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
    padding: 100px 32px;
    gap: 60px;
    background-color: #F8D57E;
    /* border: 2px solid black; */
  }

  .testimonals_headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    height: auto;
    gap: 20px;
    /* border: 2px solid black; */
  }

  #testimonals_headline_main {
    position: relative;
    align-self: stretch;
    height: auto;
    color: #000000;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    letter-spacing: -2%;
    text-align: center;
  }

  #testimonals_headline_para {
    position: relative;
    align-self: stretch;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
    text-align: center;
  }

  .testimonals_cards_row {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
    gap: 30px;
  }

  .testimonals_card {
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    gap: 30px;
    padding: 40px 30px;
    border-radius: 20px;
    background-color: white;
    /* border: 2px solid black; */
  }

  .testimonals_card_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    gap: 30px;
    /* border: 2px solid black; */
  }

  .testimonals_card_info_details {
    max-width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    justify-content: center;
    gap: 16px;
    margin: auto;
    /* border: 2px solid black; */
  }

  .testimonals_card_info_personal_image {
    min-width: 120px;
    height: auto;
  }

  .testimonals_card_info_personal_image img {
    width: 100%;
    height: 100%;

  }

  .testimonals_card_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    height: auto;
    gap: 6px;
  }

  .testimonals_card_text_info {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
    gap: 24px;
    /* border: 2px solid black; */
  }

  .testimonals_card_text_info>div:first-child {
    display: flex;
    position: relative;
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    /* border: 2px solid black; */
  }

  .testimonals_card_text_info img {
    height: auto;
  }

  .testimonals_card_text_info>div:last-child {
    height: auto;
    position: relative;
    align-self: stretch;
    color: #111827;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
    text-align: center;
  }

  /* Testinomals Section end */

/* Team Section start */
  .team {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    gap: 60px;
    padding: 60px 30px;
    background-color: #F8F9FF;
    /* border: 2px solid black; */
  }

  .team_headline {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    align-items: center;
    height: auto;
    gap: 20px;
    /* border: 2px solid black; */
  }

 #team_headline_main {
    height: auto;
    color: #000000;
    font-size: 38px;
    font-weight: 600;
    font-family: var(--poppins-font-family);
    letter-spacing: -2%;
    text-align: center;
    position: relative;
    align-self: stretch;
  }

 #team_headline_para {
    width: 100%;
    height: 48px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
    text-align: center;
    position: relative;
    align-self: stretch;
  }

  .team_card_row {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    gap: 30px;
    /* border: 2px solid black; */
  }

  .team_member_card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #E5F4F2;
    padding: 40px 30px;
    gap: 30px;
    /* border: 2px solid black; */
  }

  .team_face_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
    align-self: stretch;
    gap: 16px;
    /* border: 2px solid black; */
  }

  .team_member_image img {
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .team_member_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    height: auto;
    gap: 6px;
  }

#about_team_member {
    text-align: center;
    height: auto;
    position: relative;
    align-self: stretch;
    color: #111827;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
  }

  .team_member_social_link {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    height: 20px;
    /* border: 2px solid black; */
  }

  .team_member_social_link a {
    text-decoration: none;
    position: relative;
    align-self: stretch;
    color: #009379;
    font-size: 14px;
    font-weight: 700;
  }

/* Team Section end*/


/* LogoBar Section start */
  .logoBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    height: auto;
    padding: 60px 30px;
    gap: 40px;
    background-color: #F8F9FF;
    /* border: 2px solid black; */
  }

  .logoBar_headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    gap: 20px;
  }

 #logoBar_headline_main {
    position: relative;
    height: auto;
    text-align: center;
    color: #000000;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    letter-spacing: -2%;
  }

  #logoBar_headline_para {
    position: relative;
    align-self: stretch;
    height: auto;
    text-align: center;
    height: auto;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
  }


  .logoBar_logoGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
    height: auto;
    /* border: 2px solid black; */
  }

  .logoBar_logoGrid_icons {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
  }

  .logoBar_logoGrid_icons div {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    padding: 32px 0px;
    position: relative;
  }

  .logoBar_logoGrid>div:first-child {
    gap: 10px;
  }

  .logoBar_logoGrid>div:nth-child(2) {
    padding: 0 30px;
    gap: 10px;
  }

  .logoBar_logoGrid>div:last-child {
    /* width: fit-content; */
    padding: 0 60px;
    gap: 10px;
  }

  .logoBar_logoGrid img {
    min-width: 15px;
    max-width: 40px;
    min-height: 20px;
    /* max-height: 40px; */
    border-radius: 62.5px;
  }

  .logoBar button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 267px;
    height: 60px;
    padding: 16px 50px;
    gap: 8px;
    border-radius: 20px;
    background-color: #009379;
    border: none;
  }

  .logoBar button span {
    min-width: 167px;
    height: 24px;
    background-color: #009379;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins-font-family);
    letter-spacing: 0%;

  }

  /* LogoBar Section end */


  /* highlightedCTA Section start */
  .highlightedCTA {
    height: auto;
    background-color: #F8D57E;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    gap: 40px;
    /* border: 2px solid black; */
  }

  .highlightedCTA_headline {
    /*.headline*/
    padding: 60px 30px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    gap: 20px;
  }

  #highlightedCTA_headline_main {
    position: relative;
    align-self: stretch;
    text-align: center;
    height: auto;
    font-family: var(--poppins-font-family);
    color: #2D2D2D;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2%;
  }

  #highlightedCTA_headline_para {
    position: relative;
    align-self: stretch;
    text-align: center;
    height: auto;
    color: #2D2D2D;
    font-family: var(--mulish-font-family);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
  }

  .highlightedCTA>div:nth-child(2) {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: relative;
  }

  #highlightedCTA_button {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 50px;
    gap: 18px;
    background-color: #009379;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins-font-family);
    letter-spacing: 0%;
  }

  .highlightedCTA_mockUp {
    width: 320px;
    height: 167px;
    /* position: relative; */
  }

  .highlightedCTA_mockUp img {
    width: 100%;
    height: 100%;
  }

  /* highlightedCTA Section end */


  /* Footer section start */
  .footer {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    padding: 24px 20px;
    background-color: #2D2D2D;
    gap: 20px;
    color: white;
  }

  .footer_copyRight {
    width: fit-content;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
  }

  .footer_social_icons {
    width: fit-content;
    gap: 16px;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  .footer_social_icons img {
    border-radius: 20px;
  }

  /* footer Section end */

/* For Tablet Screen */
  @media screen and (min-width:767px) and (max-width:1265px) {

    /* header section */
  .header {
    padding: 20px 30px;
  }

  /* heroSection */
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 100px 32px 0;
    /* border:2px solid black; */
  }

  .heroSection_header_subHeader {
    width: 620px;
    align-items: center;
    justify-content: center;
    /* border:2px solid black; */
  }

  #heroSection_header_subHeader_title {
    height: auto;
    color: #2D2D2D;
    font-size: 67px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    letter-spacing: -2.5%;
  }

  #heroSection_header_subHeader_description {
    height: auto;
    color: #2D2D2D;
    font-size: 21px;
    font-weight: 400;
    font-family: var(--mulish-font-family);
    letter-spacing: 0%;
  }

  .CTA_buttons {
    flex-direction: row;
    justify-content: flex-start;
    /* border:2px solid black; */
  }

  .MockUp {
    min-width: 320px;
    height: 320px;
  }


  /* features section */
  .features {
    padding: 100px 32px;
  }

  .features_cards_row {
    display: flex;
    flex-direction: column;
  }


  .rows{
    display: flex;
    flex-direction: row;
  }

    .card_features {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: auto;
    border-radius: 20px;
    border: 1px solid #E5F4F2;
    padding: 20px;
    gap: 20px;
    background-color: white;
  }

  .visuals {
    min-width: 540px;
    height: 450px;

  }

  /* projects section */

  .projects {
    /* border: 2px solid black; */
    padding: 100px 32px;
  }

  .projects_cards_row {
    display: flex;
    /* align-items: flex-start; */
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-self: stretch;
    height: auto;
    gap: 20px;
    /* border: 2px solid black; */
  }

  .projects_cards_p_Image {
    height: 173px;
  }

  .projects_cards_p_Image img {
    width: 100%;
    height: 100%;
  }

  #project_title{
    font-size: 21px;
    /* border: 2px solid black; */
  }

  #project_short_descrption {
    font-size: 14px;
    /* border: 2px solid black; */
  }

  #project_category {
    font-size: 16px;
    /* border: 2px solid black; */
  }


  /* testinomals section */

  .testimonals_cards_row {
    width: 680px;
    margin: auto;
    /* border: 2px solid black; */
  }

  .testimonals_card {
    padding: 40px;
    /* border: 2px solid black; */
  }

  .testimonals_card_info {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
  }

  .testimonals_card_details {
    width: 180px;
  }

  .texttestimonals_card_text_info_info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 2px solid black; */
  }


  /* team section */
  .team {
    height: auto;
    padding: 100px 32px;
    /* border: 2px solid black; */
  }

  .team_card_row {
    gap: 20px;
    /* border: 2px solid black; */
  }

  .team_member_social_link {
    align-items: center;
    /* border: 2px solid black; */
  }

/* logoBar section */
  .logoBar {
    padding: 100px 32px;
     /* border: 2px solid black; */
  }

  .logoBar_logoGrid>div:first-child {
    gap:10px;
    width: 680px;
    margin: auto;
  }

  .logoBar_logoGrid>div:nth-child(2) {
     gap:10px;
    width: 520px;
    margin: auto;
  }

  .logoBar_logoGrid>div:last-child {
     gap:10px;
    width: 400px;
    margin: auto;
  }

  .logoBar_logoGrid img {
    min-width: 50px;
    min-height: 50px;
    border-radius: 100px;
  }

  /* highlightedCTA section */

  .highlightedCTA_headline {
    /*.headline*/
    padding: 60px 60px 0;
  }

  #highlightedCTA_headline_main {
    font-size: 50px;
  }

  #highlightedCTA_headline_para {
    font-size: 21px;
  }

  .highlightedCTA_mockUp{
    min-width: 680px;
    height: 200px;
  }

  .highlightedCTA_mockUp img {
    width: 100%;
    height: 100%;
  }

  /* footer section */
  .footer {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 60px
  }

}

/* For Desktop/Laptop Screen */
@media screen and (min-width:1265px) {

  /* header section */
  .header {
    padding: 20px 50px;
  }

  .header_logo {
    display: flex;
    align-items: center;
    width: fit-content;
    align-self: stretch;
    flex: 1 1 auto;
    gap: 6px;
  }

  .header_title {
    display: flex;
    align-items: center;
    font-size: 21px;
    letter-spacing: 0;
    gap: 2px;
  }

  .header_title .main {
    font-weight: 700;
    font-family: var(--poppins-font-family);
  }

  .header_title .sub {
    font-weight: 400;
    font-weight: var(--mulish-font-family);
  }

  .header_highlightedcta {
    display: flex;
    gap: 20px;
    width: fit-content;
    align-self: stretch;
    height: 60px;
  }

  .header_highlightedcta img {
    width: 20px;
    height: 20px;
    background: transparent;
  }

  nav{
    gap:50px;
  }
  nav #header_contact {
    display: block;
    text-align: left;
    width: fit-content;
    height: 30px;
    gap: 8px;
    font-family: var(--poppins-font-family);
    color: #009379;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: transparent;
  }

  .header_highlightedcta #header_highlightedcta_button1 {
    display: block;
    width: fit-content;
    border-radius: 20px;
    padding: 16px 50px;
    gap: 8px;
    color: #009379;
    font-family: var(--poppins-font-family);
    font-size: 16px;
    font-weight: 600;
    background-color: #E5F4F2;
    border: none;
  }

  .header_highlightedcta #header_highlightedcta_button2 {
    padding: 16px 50px;
  }

  /* heroSection */

  .heroSection {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 120px 55px 0px;
    background-color: #F8D57E;
    /* border:2px solid black; */
  }

  .heroContent {
    flex-direction: row;
    width: 1170px;
    margin: auto;
    justify-content: space-between;
    /* border:2px solid black; */
  }

  .heroSection_header {
    width: 620px;
    padding-bottom: 90px;
    gap: 40px;
    align-items: flex-start;
    /* border:2px solid black; */
  }

  #heroSection_header_subHeader_title {
    margin-top: -1.00px;
    line-height: 87.1px;
    text-align: left;
    font-size: 67px;
  }

  #heroSection_header_subHeader_description {
    text-align: left;
    font-size: 21px;
    line-height: 31.5px;
  }

  .CTA_buttons {
    flex-direction: row;
    max-width: 441px;

  }

  .CTA_buttons #CTA_buttons_button1 {
    padding: 16px 50px;
  }

  .CTA_buttons #CTA_buttons_button2 {
    padding: 16px 50px;
  }

  .MockUp {
    position: relative;
    width: 450px;
    height: 450px;
    /* border: 2px solid black; */
  }

  /* features section */
  .features {
  flex-direction: row;
    padding: 120px 55px;
    gap: 60px;
    /* border: 2px solid black; */
  }

  .visuals {
    min-width: 540px;
    height: 450px;
    /* border: 2px solid black; */
  }

  .visuals img {
    width: 100%;
    height: 100%;
  }

  .featues_header {
    align-items: flex-start;
    /* border: 2px solid black; */
  }

  .features_SubHeader {
    align-items: flex-start;
    /* border: 2px solid black; */
  }

  #features_SubHeader_main,#features_SubHeader_para{
   text-align: left;
  }


  .features_cards_row{
    display: flex;
    flex-direction: column;
  }
  .rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card_features .text {
    /* width: fit-content; */
    text-align: left;
    white-space: nowrap;  
  }

/* projects section */
  .projects {
    padding: 120px 55px;
    gap: 60px;
    /* border: 2px solid black; */
  }

  #projects_headline_main {
    display: block;
    align-self: stretch;
    position: relative;
    text-align: center;
    height: auto;
    color: #000000;
    font-family: var(--poppins-font-family);
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -2%;
  }

  #projects_headline_main2 {
    display: none;
  } 

  .projects_cards_row {
    flex-direction: row;
    align-items: flex-start;
    /* border: 2px solid black; */
  }

  .projects_cards {
    width: 370px;
  }

  .projects_cards_p_Image {
    height: 278px;
    min-width: 370px;
  }
  #project_title {
    font-size: 24px;
    /* border: 2px solid black; */
  }

  #project_short_descrption {
    font-size: 18px;
    /* border: 2px solid black; */
  }

  #project_category {
    font-size: 16px;
    /* border: 2px solid black; */
  }

  /* testinomals section */

  .testimonals {
    padding: 120px 55px;
  }

  .testimonals_cards_row {
    flex-direction: row;
    align-items: flex-start;
  }

  .testimonals_card {
    width: 570px;
    padding: 40px;
    /* border: 2px solid black; */
  }

  .testimonals_card_info {
    flex-direction: row;
    /* border: 2px solid black; */
  }

  .testimonals_card_details {
    width: 180px;
  }

  .testimonals_card_text_info {
    align-items: flex-start;
    flex-direction: column;
    /* border: 2px solid black; */
  }

  .testimonals_card_text_info>div:last-child{
    text-align: left;
    align-self: stretch;
    text-align: justify;
  }

  /* team section */

  .team {
    padding: 120px 55px;
    /* border: 2px solid black; */
  }

  #team_headline_main {
    font-weight: 700;
  }

 .team_card_row {
      flex-direction: row;
 }

  .team_member_card {
    width: 370px;
    /* border: 2px solid black; */
  }

  .team_member_social_link {
    align-items: center;
    justify-content: space-around;
    height: auto;
  }

  #about_team_member{
    text-align: center;
  }

  /* logoBar section */

  .logoBar {
    padding: 120px 55px;
    /* border: 2px solid black; */
  }

  .logoBar_logoGrid_icons div {
    padding: 40px 0px;
  }

  .logoBar_logoGrid>div:first-child {
    width: 1170px;
    margin: auto;
  }

  .logoBar_logoGrid>div:nth-child(2) {
    width: 960px;
    margin: auto;
  }

  .logoBar_logoGrid>div:last-child {
    width: 720px;
    margin: auto;
  }

  .logoBar_logoGrid img {
    min-width: 64px;
    height: 64px;
    border-radius: 100px;
  }

  .highlightedCTA_headline {
    padding: 60px 100px 0;
  }

#highlightedCTA_headline_main {
    font-size: 50px;
  }

#highlightedCTA_headline_para {
    font-size: 21px;
  }

.highlightedCTA_mockUp {
    min-width: 1170px;
    height: 290px;
  }

  /* footer section */
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 60px;
  }
}

